[Unit]
Description=Set up SABU-GUI
After=network.target

[Service]
User=sabu
Group=sabu
WorkingDirectory=/sabu/gui/
ExecStart=python3 server.py
StandardOutput=append:/sabu/logs/flask.log
StandardError=append:/sabu/logs/flask.log

[Install]
WantedBy=multi-user.target

