[Unit]
Description=NPM Build Tailwind to up SABU-UX
After=network.target

[Service]
User=sabu
Group=sabu
WorkingDirectory=/sabu/gui/static/
ExecStart=npm run build:tailwind

[Install]
WantedBy=multi-user.target