<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='public/output.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fontawesome/css/all.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/icons/sabu.ico') }}">
    <!-- Dark Mode Module -->
    <script>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
  </script>
</head>
<body>
  <div class="dark:bg-gray-800 h-screen">
    <header class="bg-blue-600 text-white dark:bg-gray-700 p-4">
      <h1 class="text-2xl font-bold flex justify-center">SABU - Admin Page</h1>
      <nav>
        <ul class="flex justify-center mt-6 mb-2">
          <li><a href="/" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Home</a></li>
          <li><a href="/admin/dashboard" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Dashboard</a></li>
          <li><a href="/admin/global" class="mx-4 bg-blue-700 rounded-lg py-3 px-3 font-semibold">Global Settings</a></li>
          <li><a href="/admin/network" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Network Settings</a></li>
          <li><a href="/admin/certif" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Certificate Settings</a></li>
        </ul>
      </nav>
  </header>
  
  <form method="POST" autoComplete="off">
      <div class="container mx-auto mt-10">
          <h1 class="flex justify-center text-xl font-semibold dark:text-white mb-10">Global Settings</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="container mx-auto">
              <div class="bg-gray-200 dark:bg-gray-700 p-4 shadow rounded-lg">
                <h2 class="text-lg font-semibold dark:text-white">Hostname</h2>
                <div class="mt-4">
                  <label class="block mb-4 dark:text-white">Syntax requirement : <br>- Between 3 and 20 lowercase/uppercase characters<br>- Authorized digit <br>- Only special character "-"</label>
                  <div class="relative">
                    <input type="text" name="hostname" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-white dark:focus:border-transparent dark:text-white rounded px-3 py-2" placeholder="{{ hostname }}">
                  </div>
                </div>
              </div>
          </div>
          <div class="container mx-auto">
            <div class="bg-gray-200 dark:bg-gray-700 p-4 shadow rounded-lg">
              <h2 class="text-lg font-semibold dark:text-white">Password</h2>
              <div class="mt-4">
                <label class="block mb-4 dark:text-white">Syntax requirement : <br>- 12 upper/lower case characters <br>- 1 digit minimum <br>- 1 special characters minimum</label>
                <div class="relative">
                  <input id="passwordInput" type="password" name="password" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-white dark:focus:border-transparent dark:text-white rounded px-3 py-2" placeholder="Your Password">
                  <button id="toggleButton" type="button" class="absolute inset-y-0 right-0 px-3 py-2 bg-transparent">
                    <div class="dark:text-white">
                      <i id="toggleview" class="fa-solid fa-eye"></i>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="container mx-auto flex justify-center mt-10">
          <button type="submit" name="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Submit
          </button>
        </div>
      </div>
      {% if get_flashed_messages() %}
      <div class="flex justify-center">
        <br>
        <meta charset="utf-8">
        <b style="color: red;">{{ get_flashed_messages()[0] }}</b>
      </div>
      {% endif %}
  </form>
  </div>
      
    <script>
    const toggleButton = document.getElementById('toggleButton');
    const passwordInput = document.getElementById('passwordInput');
    
    toggleButton.addEventListener('click', function() {
        if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        document.getElementById("toggleview").classList.remove("fa-eye");
        document.getElementById("toggleview").classList.add("fa-eye-slash");
        } else {
        passwordInput.type = 'password';
        document.getElementById("toggleview").classList.remove("fa-eye-slash");
        document.getElementById("toggleview").classList.add("fa-eye");
        }
    });
    </script>
</body>
</html>