<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='public/output.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fontawesome/css/all.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/icons/sabu.ico') }}">
    <!-- Dark Mode Module -->
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body>
    <div class="dark:bg-gray-800 h-screen">
        <header class="bg-blue-600 text-white dark:bg-gray-700 p-4">
            <h1 class="text-2xl font-bold flex justify-center">SABU - Admin Page</h1>
            <nav>
                <ul class="flex justify-center mt-6 mb-2">
                    <li><a href="/" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Home</a></li>
                    <li><a href="/admin/dashboard" class="mx-4 bg-blue-700 rounded-lg py-3 px-3 font-semibold">Dashboard</a></li>
                    <li><a href="/admin/global" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Global Settings</a></li>
                    <li><a href="/admin/network" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Network Settings</a></li>
                    <li><a href="/admin/certif" class="mx-4 hover:bg-blue-700 rounded-lg py-3 px-3 font-semibold">Certificate Settings</a></li>
                  </ul>
              </nav>
        </header>
        
        <div class="container mx-auto mt-10">
            <h1 class="flex justify-center text-xl font-semibold dark:text-white mb-10">Dashboard</h1>
            <div class="flex justify-center">
                <div class="w-80 mx-20">
                    <div class="bg-gray-200 dark:bg-gray-700 p-6 shadow rounded-lg">
                        <div class="mt-0">
                            <label class="block mb-2 dark:text-white">Hostname :</label>
                            <p class="w-full border border-gray-300 bg-white dark:bg-gray-600 dark:border-gray-600 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-white dark:focus:border-transparent dark:text-white rounded px-3 py-2">{{ info['hostname'] }}</p>
                        </div>    
                        <div class="mt-4">
                            <label class="block mb-2 dark:text-white">System Time :</label>
                            <p class="w-full border border-gray-300 bg-white dark:bg-gray-600 dark:border-gray-600 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-white dark:focus:border-transparent dark:text-white rounded px-3 py-2">{{ info['systemtime'] }}</p>
                        </div>
                        <div class="mt-4">
                            <label class="block mb-2 dark:text-white">Timezone :</label>
                            <p class="w-full border border-gray-300 bg-white dark:bg-gray-600 dark:border-gray-600 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-white dark:focus:border-transparent dark:text-white rounded px-3 py-2">{{ info['timezone'] }}</p>
                        </div>
                        <div class="mt-4">
                            <label class="block mb-2 dark:text-white">Uptime :</label>
                            <p class="w-full border border-gray-300 bg-white dark:bg-gray-600 dark:border-gray-600 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-white dark:focus:border-transparent dark:text-white rounded px-3 py-2">{{ info['uptime'] }}</p>
                        </div>
                        <div class="mt-4">
                            <label class="block mb-2 dark:text-white">Local Disk :</label>
                            <p class="w-full border border-gray-300 bg-white dark:bg-gray-600 dark:border-gray-600 dark:focus:outline-none dark:focus:ring-2 dark:focus:ring-white dark:focus:border-transparent dark:text-white rounded px-3 py-2">{{ info['disk'] }}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container mx-auto mt-8 max-w-sm">
            <div class="bg-gray-200 dark:bg-gray-700 shadow rounded-lg mx-6 py-6">
                <div class="flex justify-center space-x-4">
                    <a href="{{ url_for('admin_downloadLogs') }}">
                        <button type="submit" name="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-lg"><i class="fa-solid fa-download"></i> Download Logs</button>
                    </a>
                    <button type="submit" name="submit" onclick="reboot_confirme();" class="bg-red-600 hover:bg-red-700 text-white font-semibold px-4 py-2 rounded-lg"><i class="fa-solid fa-power-off"></i> Reboot</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function reboot_confirme(){
            if (confirm('Do you want to reboot ?')){
                window.location = location.protocol+"//"+document.domain+":"+location.port+"/admin/reboot";
            }else{
                window.location = location.protocol+"//"+document.domain+":"+location.port+"/admin/config";
            }
        }
    </script>
</body>
</html>