<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SABU</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='sabu.ico') }}">
	{% block styles %}{% endblock %}
</head>
<body>
<div id="content" class="content">
	{% block content %}{% endblock %}
</div>
</body>
{% block script %}{% endblock %}
</html>