{% extends "base_mainpage.html" %}
{% block menu %}
	<a class="button_for_listing_mainbox" href="/">Home</a>
	{% if g.log %}
	<a class="button_for_listing_mainbox" href="/admin">Admin pannel</a>
	{% endif %}
	<a class="button_for_listing_mainbox" href="/browser">List USB contents</a>
{% endblock %}
{% block browser %}
<div id="listAll" class="listAll">
	<div class="btn_top_browser">
		<div class="btn-wrapper btwr-arrow">
			<button class="btn btn-arrow cc" onclick="ret()"><img src="{{ url_for('static',filename='fleche-gauche.png') }}" class="img_arrow" height="30px" width="30px"></button>
		</div>
		<form id="sendd" action="/sendd" method="POST" enctype="multipart/form-data">
			<input type="text" name="linkd" id="linkd" style="display: none;" value="">
			<div id="files2send" class="btn-wrapper cc">
				<button id="prompt_btn" class="cc btn">Envoyé un fichier</button>
				<input id="input_btn" name=up_f type=file class="cc"/>
			</div>
			<div id="files2send" class="btn-wrapper cc">
				<button id="prompt_btn2" class="cc btn">Envoyé un dossier</button>
				<input id="input_btn2" name=up_d type=file class="cc" accept=".zip"/>
				{% if get_flashed_messages() %}
				<meta charset="utf-8">
				<script type="text/javascript">alert("{{ get_flashed_messages()[0] }}");</script>
				{% endif %}
			</div>
			<div class="btn-wrapper cc">
				<input class="submit_menu_browser btn" type="submit" name="submit">
			</div>
		</form>
	</div>
	<table id="table_browser" class="listing_file">
		<tr class="main_items_directory">
			<th>Nom</th>
			<th>Mode</th>
			<th>Date de création</th>
			<th>Date de modification</th>
			<th>Taille</th>
			<th>Action</th>
		</tr>
		
		{% for name,mode,cre_time,mod_time,size in items_dir %}
		<tr class="items_directory">
			<td>
				<a href="/browser/{{ cur_dir }}{{ name }}" class="link_file"></a>
				<img src="{{ url_for('static',filename='icon_folder.png') }}" height="20px" width="20px">
				{{ name }}
			</td>
			<td>{{ mode }}</td>
			<td>{{ cre_time }}</td>
			<td>{{ mod_time }}</td>
			<td>{{ size }}</td>
			<td>
				<a class="actiona" href="/delete/{{ cur_dir }}{{ name }}">Supprimer</a>
				{% if g.hasScan %}
					<a class="actiona" href="/download/{{ cur_dir }}{{ name }}">Télécharger</a>
				{% endif %}
				
				
				<a class="actiona" href="/info/{{ cur_dir }}{{ name }}">Info</a>
			</td>
		</tr>
		{% endfor %}
		{% for name,mode,cre_time,mod_time,size in items_file %}
		<tr class="items_directory">
			<td>
				<a></a>
				<img src="{{ url_for('static', filename='icon_file.png') }}" height="20px" width="20px">
				{{ name }}
			</td>
			<td>{{ mode }}</td>
			<td>{{ cre_time }}</td>
			<td>{{ mod_time }}</td>
			<td>{{ size }}</td>
			<td>
				<a class="actiona" href="/delete/{{ cur_dir }}{{ name }}">Supprimer</a>
				{% if g.hasScan %}
				<a class="actiona" href="/download/{{ cur_dir }}{{ name }}">Télécharger</a>
				{% endif %}
				<a class="actiona" href="/info/{{ cur_dir }}{{ name }}">Info</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<div id="div_ef" class="div_ef">
		<span class="empty_folder" id="empty_folder"></span>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='script/jquery-3.5.1.min.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script> -->
<script src="{{ url_for('static',filename='script/script.js')}}"></script>


<!-- <script>
  // Wait for the document to be fully loaded
  document.addEventListener('DOMContentLoaded', function() {
    // Get a reference to the zip button
    var zipButton = document.getElementById('zip_btn');
    
    // Add a click event listener to the zip button
    zipButton.addEventListener('click', function() {
      // Get a reference to the file input element
      var fileInput = document.getElementById('input_btn');
      
      // Create a new instance of JSZip
      var zip = new JSZip();
      
      // Handle the selected files
      var files = fileInput.files;
      for (var i = 0; i < files.length; i++) {
        // Add each file to the zip
        zip.file(files[i].name, files[i]);
      }
      
      // Generate the zip file asynchronously
      zip.generateAsyncs({ type: 'blob' })
        .then(function(content) {
          // Send the zip file to the Flask application
          var formData = new FormData();
          formData.append('zipFile', content, 'files.zip');
          
          fetch('/sendd', {
            method: 'POST',
            body: formData
          })
          .then(function(response) {
            // Handle the response from the server
            console.log(response);
          })
          .catch(function(error) {
            // Handle any errors that occur during the request
            console.error(error);
          });
        });
    });
  });
</script>
 -->
{% endblock %}
