{% extends 'base_index.html' %}
{% block browser %}
<div class="grid grid-cols-6 grid-rows-3 h-full">
            
    <!-- BOX -->
    <div class="col-start-1 col-end-7 row-start-1 row-end-4 bg-white dark:bg-gray-700 rounded-2xl mx-4 my-4">
        <div class="w-full">
            <a href="/">
                <button class="my-4 mx-4 flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-red-600 rounded-lg shadow-md hover:bg-red-700" type="submit">
                    <i class="fa-solid fa-house"></i>
                </button>
            </a>
    
            <div class="container max-w-6xl px-4 mx-auto sm:px-8">
                <div class="py-8">
                    <div class="flex flex-row justify-between w-full mb-1 sm:mb-0">
                        <h2 class="text-2xl leading-tight">
                            <button onclick="ret()" class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700" type="submit">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </h2>
                        <div class="text-end">
                            <form id="sendd" action="/sendd" method="POST" enctype="multipart/form-data" class="flex flex-col justify-center w-3/4 max-w-sm space-y-3 md:flex-row md:w-full md:space-x-3 md:space-y-0">
                                <input type="text" name="linkd" id="linkd" style="display: none;" value="">
                                <div class=" relative ">
                                    </div>
                                    <label for="fileInput" class="flex items-center justify-center flex-shrink-0 px-4 py-1 text-base font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 cursor-pointer">
                                        <span><i class="fa-solid fa-file"></i> Upload File</span>
                                    </label>
                                    <input id="fileInput" type="file" name="up_f" class="hidden">

                                    <label for="folderInput" class="flex items-center justify-center flex-shrink-0 px-4 py-1 text-base font-semibold text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700 cursor-pointer">
                                    <span><i class="fa-solid fa-folder"></i> Upload Folder</span>
                                    </label>
                                    <input id="folderInput" type="file" name="up_d" class="hidden" accept=".zip">
                                    {% if get_flashed_messages() %}
                                        <meta charset="utf-8">
                                        <script type="text/javascript">alert("{{ get_flashed_messages()[0] }}");</script>
                                    {% endif %}
                                    <button type="submit" name="submit" class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-red-600 rounded-lg shadow-md hover:bg-red-700" type="submit">
                                        <div class="space-x-4">
                                            <i class="fa-solid fa-upload"></i>
                                            Send
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
                            <div class="inline-block min-w-full overflow-hidden rounded-lg shadow w-full">
                                <table id="table_browser" class="min-w-full leading-normal">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="px-5 py-3 text-sm font-bold text-left text-gray-800 uppercase bg-gray-300 border-b border-gray-400">
                                                Name
                                            </th>
                                            <th scope="col" class="px-5 py-3 text-sm font-bold text-left text-gray-800 uppercase bg-gray-300 border-b border-gray-400">
                                                Mode
                                            </th>
                                            <th scope="col" class="px-5 py-3 text-sm font-bold text-left text-gray-800 uppercase bg-gray-300 border-b border-gray-400">
                                                Creation date
                                            </th>
                                            <th scope="col" class="px-5 py-3 text-sm font-bold text-left text-gray-800 uppercase bg-gray-300 border-b border-gray-400">
                                                Modification date
                                            </th>
                                            <th scope="col" class="px-5 py-3 text-sm font-bold text-left text-gray-800 uppercase bg-gray-300 border-b border-gray-400">
                                                Size
                                            </th>
                                            <th scope="col" class="px-5 py-3 text-sm font-bold text-left text-gray-800 uppercase bg-gray-300 border-b border-gray-400">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name,mode,cre_time,mod_time,size in items_dir %}
                                        <tr>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <div class="flex items-center">
                                                    <div class="flex-shrink-0">
                                                        <a href="/browser/{{ cur_dir }}{{ name }}"></a>
                                                        <img src="{{ url_for('static',filename='icon_folder.png') }}" height="20px" width="20px">
                                                    </div>
                                                    <div class="ml-3">
                                                        <p class="text-gray-900 whitespace-no-wrap">
                                                            {{ name }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ mode }}
                                                </p>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ cre_time }}
                                                </p>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ mod_time }}
                                                </p>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                {{ size }}
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <a href="/delete/{{ cur_dir }}{{ name }}"><i class="fa-solid fa-trash"></i></a>
                                                {% if g.hasScan %}
                                                    <a href="/download/{{ cur_dir }}{{ name }}"><i class="fa-solid fa-download"></i></a>
                                                {% endif %}
                                                <a href="/info/{{ cur_dir }}{{ name }}"><i class="fa-solid fa-circle-info"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for name,mode,cre_time,mod_time,size in items_file %}
                                        <tr>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <div class="flex items-center">
                                                    <div class="flex-shrink-0">
                                                        <img src="{{ url_for('static', filename='icon_file.png') }}" height="20px" width="20px">
                                                    </div>
                                                    <!-- Use for don't click on row -->
                                                    <!-- Don't delete this -->
                                                    <a></a>
                                                    <!-- Don't delete this -->
                                                    <div class="ml-3">
                                                        <p class="text-gray-900 whitespace-no-wrap">
                                                            {{ name }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ mode }}
                                                </p>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ cre_time }}
                                                </p>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ mod_time }}
                                                </p>
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                {{ size }}
                                            </td>
                                            <td class="px-5 py-5 text-sm bg-gray-200 border-b border-gray-400">
                                                <a href="/info/{{ cur_dir }}{{ name }}"><i class="fa-solid fa-circle-info"></i></a>
                                                <a href="/delete/{{ cur_dir }}{{ name }}"><i class="fa-solid fa-trash"></i></a>
                                                {% if g.hasScan %}
                                                <a href="/download/{{ cur_dir }}{{ name }}"><i class="fa-solid fa-download"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div id="div_ef">
                                    <span id="empty_folder"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='script/jquery-3.5.1.min.js') }}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script> -->
<script src="{{ url_for('static',filename='script/script.js')}}"></script>


<!-- <script>
  // Wait for the document to be fully loaded
  document.addEventListener('DOMContentLoaded', function() {
    // Get a reference to the zip button
    var zipButton = document.getElementById('zip_btn');
    
    // Add a click event listener to the zip button
    zipButton.addEventListener('click', function() {
      // Get a reference to the file input element
      var fileInput = document.getElementById('input_btn');
      
      // Create a new instance of JSZip
      var zip = new JSZip();
      
      // Handle the selected files
      var files = fileInput.files;
      for (var i = 0; i < files.length; i++) {
        // Add each file to the zip
        zip.file(files[i].name, files[i]);
      }
      
      // Generate the zip file asynchronously
      zip.generateAsyncs({ type: 'blob' })
        .then(function(content) {
          // Send the zip file to the Flask application
          var formData = new FormData();
          formData.append('zipFile', content, 'files.zip');
          
          fetch('/sendd', {
            method: 'POST',
            body: formData
          })
          .then(function(response) {
            // Handle the response from the server
            console.log(response);
          })
          .catch(function(error) {
            // Handle any errors that occur during the request
            console.error(error);
          });
        });
    });
  });
</script>
 -->
{% endblock %}