{% extends 'base_mainpage.html' %}
{% block menu %}
	<a class="button_for_listing_mainbox" href="/">Home</a>
	<a class="button_for_listing_mainbox" href="/admin">Admin pannel</a>
	<a class="button_for_listing_mainbox" href="/logout">Logout</a>
{% endblock %}
{% block main_base %}
	<div class="sw_pwd">
		<fieldset class="admin_section">
			<legend align="center">Global settings</legend> 
			<form method="POST">
				<table>
					<tr>
						<td>
							<p>Hostname : </p>
						</td>
						<td>	
							<input type="text" name="hostname" placeholder="Hostname">
						</td>
					</tr>
					<tr>
						<td>
							<p>New password : </p>
						</td>
						<td>	
							<input type="text" name="password" placeholder="Password">
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input class="btn_submit" type="submit" name="submit" value="Submit">
						</td>
					<tr>
				</table>
				{% if get_flashed_messages()[0] == "password" %}
				<div>
					<meta charset="utf-8">
					<b style="color: red;">{{ get_flashed_messages()[1] }}</b>
				</div>
				{% endif %}
			</form>
		</fieldset>
	</div>
	<div class="net_param">
		<fieldset class="admin_section">
			<legend align="center">Network settings</legend>
			<form method="POST">
				<table>
					<tr>
						<td>
							<p>Interface : </p>
						</td>
						<td>
							<input type="text" name="interface" placeholder="{{ interface }}">
						</td>
					</tr>
					<tr>
						<td>
							<p>IP Address : </p>
						</td>
						<td>
							<input type="text" name="ip" placeholder="{{ ip }}">
						</td>
					</tr>
					<tr>
						<td>
							<p>Netmask : </p>
						</td>
						<td>	
							<input type="text" name="netmask" placeholder="{{ netmask }}">
						</td>
					</tr>
					<tr>
						<td>			
							<p>Gateway :</p> 
						</td>
						<td>	
							<input type="text" name="gateway" placeholder="{{ gateway }}">		
						</td>	
					</tr>
					<tr>
						<td>			
							<p>DNS 1 :</p> 
						</td>
						<td>	
							<input type="text" name="dns1" placeholder="{{ dns1 }}">		
						</td>	
					</tr>
					<tr>
						<td>			
							<p>DNS 2 :</p> 
						</td>
						<td>	
							<input type="text" name="dns2" placeholder="{{ dns2 }}">		
						</td>	
					</tr>	
					<tr>
						<td></td>
						<td>
							<input class="btn_submit" type="submit" name="submit" value="Submit">
						</td>
					<tr>
				</table>
				{% if get_flashed_messages()[0] == "net_adm" %}
				<div>
					<meta charset="utf-8">
					<b style="color: red;">{{ get_flashed_messages()[1] }}</b>
				</div>
				{% endif %}
			</form>
		</fieldset>				
	</div>
	<div class="dl_logs">
		<fieldset class="admin_section">
			<legend align="center">Device</legend> 
			<table>
				<tr>
					<td>
						<a href="{{ url_for('admin_downloadLogs') }}" class="but_down_logs">Download logs</a>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
{% endblock %}
{% block styles %}
<style type="text/css">
.but_down_logs{
	background-color: #e2e2e2;
	border: 1px solid black;
	padding: 1px;
	border-radius: 10px;
	padding: 0.5em;
	margin: 0.5em;
	transition: 0.2s;
}
.but_down_logs:hover{
	background-color: #eeddff;
}
/* .btn_submit{
	background-color: #e2e2e2;
	border: 1px solid black;
	padding: 1px;
	border-radius: 5px;
	padding: 0.25em;
	width: 5em;
	margin: 0.5em;
	transition: 0.2s;
}
.btn_submit:hover{
	background-color: #eeddff;
} */
</style>
{% endblock %}
