{% extends 'menu.html' %}
{% block box %}
<!-- BOX -->
<div class="col-start-3 row-start-2 row-end-3">   
    <div class="w-64 p-4 bg-white shadow-lg rounded-2xl dark:bg-gray-700">
        <div class="flex justify-center">
            <div class="relative w-24 h-24 bg-blue-200 rounded-full">
                <div class="flex justify-center items-center absolute w-8 h-8 text-blue-700 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2 text-2xl">
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>
        </div>
        <p class="mt-4 mb-4 text-xl font-medium text-gray-800 dark:text-white flex justify-center">
            Format
        </p>
        <p class="px-2 mb-6 text-xs text-center text-gray-400">
            Format your usb key. Choose between the 2 available modes ! One faster and one longer but more efficient.
        </p>
        <a href="/format">
            <button type="button" class="px-2 py-2 bg-blue-600 hover:bg-blue-700 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md  rounded-lg ">
                Select
            </button>
        </a>
    </div>
</div>
<div class="col-start-5 row-start-2 row-end-3">   
    <div class="w-64 p-4 bg-white shadow-lg rounded-2xl dark:bg-gray-700">
        <div class="flex justify-center">
            <div class="relative w-24 h-24 bg-blue-200 rounded-full">
                <div class="flex justify-center items-center absolute w-8 h-8 text-blue-700 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2 text-2xl">
                    <i class="fa-solid fa-shield-halved"></i>
                </div>
            </div>
        </div>
        <p class="mt-4 mb-4 text-xl font-medium text-gray-800 dark:text-white flex justify-center">
            Scan
        </p>
        <p class="px-2 mb-6 text-xs text-center text-gray-400">
            Analyze your usb key with different antivirus. Choose between the 2 available modes !
        </p>
        <a href="/scan">
            <button type="button" class="px-2 py-2 bg-blue-600 hover:bg-blue-700 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md  rounded-lg ">
                Select
            </button>
        </a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    document.getElementById("home").classList.remove("text-gray-500","dark:text-gray-200","hover:text-blue-500","dark:hover:text-blue-500");
    document.getElementById("home").classList.add("text-blue-500","border-r-4","border-blue-500","bg-gradient-to-r","from-white","to-blue-100","dark:from-gray-700","dark:to-gray-800");
</script>
{% endblock %}