<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Format</title>
    <link rel="stylesheet" href="./public/output.css" />
    <link rel="stylesheet" href="./assets/fontawesome/css/all.css" />
    <!-- METTRE ICO -->
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body>
    <div class="bg-gray-200 dark:bg-gray-800 h-screen">
        <div class="grid grid-cols-6 grid-rows-4 h-full">
            <!-- SIDEBAR -->
            <div class="col-start-1 row-start-1 row-end-5 bg-white dark:bg-gray-700 rounded-2xl ml-4 my-4"> <!-- ROW SET -->
                <div class="flex justify-center pt-6">
                    <img class="rounded-full h-24 w-24" src="./assets/icons/logo_sabu.png" alt="Logo" />
                </div>
                <nav class="mt-6">
                    <a class="flex justify-start w-full p-4 my-2 font-semibold text-gray-500 uppercase transition-colors duration-200 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-500" href="home.html">
                        <span class="mx-4">
                            <i class="fa-solid fa-house"></i>
                            <span class="pl-2">
                                Home
                            </span>
                        </span>
                    </a>
                    <a class="flex justify-start w-full p-4 my-2 font-semibold text-blue-500 uppercase transition-colors duration-200 border-r-4 border-blue-500 bg-gradient-to-r from-white to-blue-100 dark:from-gray-700 dark:to-gray-800" href="list_usb_content.html">
                        <span class="mx-4">
                            <i class="fa-solid fa-folder-tree"></i>
                            <span class="pl-2">
                                List USB Content
                            </span>
                        </span>
                    </a>
                    <a class="flex justify-start w-full p-4 my-2 font-semibold text-gray-500 uppercase transition-colors duration-200 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-500" href="format.html">
                        <span class="mx-4">
                            <i class="fa-solid fa-trash"></i>
                            <span class="pl-2">
                                Format
                            </span>
                        </span>
                    </a>
                    <a class="flex justify-start w-full p-4 my-2 font-semibold text-gray-500 uppercase transition-colors duration-200 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-500" href="#">
                        <span class="mx-4">
                            <i class="fa-solid fa-shield-halved"></i>
                            <span class="pl-2">
                                Scan
                            </span>
                        </span>
                    </a>
                </nav>
            </div>
            <!-- HEADER -->
            <div class="col-start-2 col-end-7 bg-white dark:bg-gray-700 rounded-2xl my-4 mx-4 h-16">
                <div class="flex items-center justify-end pr-4 space-x-4 h-16">
                    <div class="relative block">
                        <img alt="flag" src="./assets/icons/royaume-uni.png" class="mx-auto object-cover h-10 w-10 "/>
                    </div>
                    <!-- Dark mode button -->
                    <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm p-2.5">
                        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                    </button>
                    <a href="login.html" class="relative block">
                        <img alt="profil" src="./assets/icons/profil.png" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                    </a>
                </div>
            </div>
            <!-- BOX -->
            <div class="col-start-2 col-end-7 row-start-2 row-end-3">   
                <div class="container max-w-3xl px-4 mx-auto sm:px-8">
                    <div class="py-8">
                        <div class="flex flex-row justify-between w-full mb-1 sm:mb-0">
                            <h2 class="text-2xl leading-tight">
                                List
                            </h2>
                            <div class="text-end">
                                <form class="flex flex-col justify-center w-3/4 max-w-sm space-y-3 md:flex-row md:w-full md:space-x-3 md:space-y-0">
                                    <div class=" relative ">
                                        </div>
                                        <button class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-purple-600 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200" type="submit">
                                            Download
                                        </button>
                                        <button class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-purple-600 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200" type="submit">
                                            Upload
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
                                <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
                                    <table class="min-w-full leading-normal">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                                                    File
                                                </th>
                                                <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                                                    Type
                                                </th>
                                                <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                                                    Creation date
                                                </th>
                                                <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                                                    Size
                                                </th>
                                                <th scope="col" class="px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <div class="flex items-center">
                                                        <div class="ml-3">
                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                File
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        File
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        12/09/2020
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900">
                                                        <span aria-hidden="true" class="absolute inset-0 bg-green-200 rounded-full opacity-50">
                                                        </span>
                                                        <span class="relative">
                                                            active
                                                        </span>
                                                    </span>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <div class="flex items-center">
                                                        <div class="ml-3">
                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                File 2
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        File
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        01/10/2012
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900">
                                                        <span aria-hidden="true" class="absolute inset-0 bg-green-200 rounded-full opacity-50">
                                                        </span>
                                                        <span class="relative">
                                                            active
                                                        </span>
                                                    </span>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <div class="flex items-center">
                                                        <div class="ml-3">
                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                File 3
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        File
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        02/10/2018
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900">
                                                        <span aria-hidden="true" class="absolute inset-0 bg-green-200 rounded-full opacity-50">
                                                        </span>
                                                        <span class="relative">
                                                            active
                                                        </span>
                                                    </span>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <div class="flex items-center">
                                                        <div class="ml-3">
                                                            <p class="text-gray-900 whitespace-no-wrap">
                                                                File 4
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        File
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        23/09/2010
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900">
                                                        <span aria-hidden="true" class="absolute inset-0 bg-green-200 rounded-full opacity-50">
                                                        </span>
                                                        <span class="relative">
                                                            active
                                                        </span>
                                                    </span>
                                                </td>
                                                <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="flex flex-col items-center px-5 py-5 bg-white xs:flex-row xs:justify-between">
                                        <div class="flex items-center">
                                            <button type="button" class="w-full p-4 text-base text-gray-600 bg-white border rounded-l-xl hover:bg-gray-100">
                                                <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">
                                                    </path>
                                                </svg>
                                            </button>
                                            <button type="button" class="w-full px-4 py-2 text-base text-indigo-500 bg-white border-t border-b hover:bg-gray-100 ">
                                                1
                                            </button>
                                            <button type="button" class="w-full px-4 py-2 text-base text-gray-600 bg-white border hover:bg-gray-100">
                                                2
                                            </button>
                                            <button type="button" class="w-full px-4 py-2 text-base text-gray-600 bg-white border-t border-b hover:bg-gray-100">
                                                3
                                            </button>
                                            <button type="button" class="w-full px-4 py-2 text-base text-gray-600 bg-white border hover:bg-gray-100">
                                                4
                                            </button>
                                            <button type="button" class="w-full p-4 text-base text-gray-600 bg-white border-t border-b border-r rounded-r-xl hover:bg-gray-100">
                                                <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./app.js"></script>
</body>
</html>