{% extends 'base_mainpage.html' %}
{% block menu %}
	<a class="button_for_listing_mainbox" href="/">Home</a>
	{% if g.log %}
	<a class="button_for_listing_mainbox" href="/admin">Admin pannel</a>
	{% endif %}
	<a class="button_for_listing_mainbox" href="/browser">List USB contents</a>
{% endblock %}
{% block main_base %}
<a href="scan/simple" id="basic_scan" class="main_button">SIMPLE SCAN</a>
<a href="scan/advanced" id="advanced_scan" class="main_button">ADVANCED SCAN</buaton>
<a disabled id="sandbox" class="main_button sandbox">SANDBOX SCAN</a>
{% endblock %}