{% extends 'base_mainpage.html' %}
{% block menu %}
	<a class="button_for_listing_mainbox" href="/">Home</a>
	<a class="button_for_listing_mainbox" href="/admin">Admin panel</a>
	<a class="button_for_listing_mainbox" href="/logout">Logout</a>
{% endblock %}
{% block main_base %}
	<div class="net_param">
		<fieldset class="first_admin_section">
			<legend align="center">First Connection</legend>
			<form method="POST">
				<br>
				<table class="table_net_adm">
					<caption>Network administration</caption>
					<tr>
						<td>
							<p>Interface : </p>
						</td>
						<td>
							<input type="text" name="interface" placeholder="{{ interface }}">
						</td>
					</tr>
					<tr>
						<td>
							<p>IP Address : </p>
						</td>
						<td>
							<input type="text" name="ip" placeholder="{{ ip }}">
						</td>
					</tr>
					<tr>
						<td>
							<p>Netmask : </p>
						</td>
						<td>	
							<input type="text" name="netmask" placeholder="{{ netmask }}">
						</td>
					</tr>
					<tr>
						<td>			
							<p>Gateway :</p> 
						</td>
						<td>	
							<input type="text" name="gateway" placeholder="{{ gateway }}">		
						</td>	
					</tr>
					<tr>
						<td>			
							<p>DNS 1 :</p> 
						</td>
						<td>	
							<input type="text" name="dns1" placeholder="{{ dns1 }}">		
						</td>	
					</tr>
					<tr>
						<td>			
							<p>DNS 2 :</p> 
						</td>
						<td>	
							<input type="text" name="dns2" placeholder="{{ dns2 }}">		
						</td>	
					</tr>
				</table>
				<br>
				<table class="table_creds_adm">
					<caption>Credential administration</caption>
					<tr>
						<td>
							<p>New password : </p>
						</td>
						<td>	
							<input type="text" name="password" placeholder="Password">
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
						</td>
					<tr>
				</table>
				<br>
				<input type="submit" name="submit" value="Submit">
				{% if get_flashed_messages() %}
				<div>
					<meta charset="utf-8">
					<b style="color: red;">{{ get_flashed_messages()[0] }}</b>
				</div>
				{% endif %}
			</form>
		</fieldset>
	</div>
{% endblock %}
{% block styles %}
<style type="text/css">
.first_admin_section{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px;
	pad
}
</style>
{% endblock %}
{% block script %}
{% if during_connection %}
<script type="text/javascript">
setTimeout(() => {  
	window.location = location.protocol+'//' + document.domain + ':' + location.port
}, 2000);
</script>
{% endif %}
{% endblock %}
